<!-- start custom head snippets -->

<!-- Favicons -->
<link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon">
<link href="{{ site.baseurl }}/assets/images/favicon-16x16.png" rel="icon" sizes="16x16">
<link href="{{ site.baseurl }}/assets/images/favicon-32x32.png" rel="icon" sizes="32x32">
<link href="{{ site.baseurl }}/assets/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="{{ site.baseurl }}/assets/images/android-chrome-192x192.png" rel="icon" sizes="192x192">
<link href="{{ site.baseurl }}/assets/images/android-chrome-512x512.png" rel="icon" sizes="512x512">

<!-- end custom head snippets -->
